apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
commonLabels:         
  rhtap/gitops: ovdttx94k-go 
  janus-idp.io/tekton: ovdttx94k-go
  backstage.io/kubernetes-id: ovdttx94k-go
  backstage.io/kubernetes-namespace: rhtap-app 
  app.kubernetes.io/part-of: ovdttx94k-go
resources: 
- application-dev.yaml 
- application-stage.yaml 
- application-prod.yaml  